<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/tmp/logs/api/internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="5000000"
				name="allfile"
				fileName="/tmp/logs/api/nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="5000000"
				name="warnFile"
				fileName="/tmp/logs/api/Warn_${shortdate}.log"  />

		<target xsi:type="File"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="5000000"
				name="errorFile"
				fileName="/tmp/logs/api/Error_${shortdate}.log"  />

		<target xsi:type="File"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="5000000"
				name="requestFile"
				fileName="/tmp/logs/api/nlog-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
	</targets>

	<rules>
		<logger name="*" minLevel="Trace" writeTo="allfile" />

		<logger name="*" minLevel="Error" writeTo="errorFile"   final="true" />
		<logger name="*" minLevel="Warn"  writeTo="warnFile"    final="true" />
		<logger name="*" minLevel="Info"  writeTo="requestFile" final="true" />
	</rules>
</nlog>